* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FFD6E0, #FFECD2);
}
/* Centers the card */
.container-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* The actual proposal container */
.container-card {
    background: white;
    padding: 30px 25px;
    border-radius: 25px;
    overflow: visible;
    position: relative;

    max-width: 800px;
    max-height: 800px;
    width: 750px;
    height: 550px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gif-window {
    background: #ff0065;
    padding: 13px;
    border-radius: 25px;
    box-shadow: 
        inset 0 2px 6px rgba(255, 255, 255, 0.8),
        0 12px 25px rgba(0, 0, 0, 0.18);
}

.proposal-gif {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.proposal-gif {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.container-card .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    position: relative;

    background-clip: padding-box;

    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.25),
        0 2px 6px rgba(0, 0, 0, 0.15);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}


.btn a:hover {
    transform: translateY(-3px) scale(1.15);
    box-shadow:
        0 14px 30px rgba(0, 0, 0, 0.35),
        0 6px 12px rgba(0, 0, 0, 0.25);
}


.btn-yes {
    background:linear-gradient(135deg, #ff6699, #ff3377);
    color: white;
}


.btn-no {
    background: linear-gradient(135deg, #f2f2f2, #cbcbcb);
    color: black;
    position: absolute;
    transition: top 0.3s ease, left 0.3s ease;
    cursor: pointer;
}

.highlighter {
    color: #ff0065;
    font-size: 32px;
}

